body {
    font-family: Arial, sans-serif;
    text-align: center;
}

#problem {
    font-size: 24px;
}

input {
    font-size: 18px;
    margin-top: 10px;
}

button {
    padding: 5px 10px;
    font-size: 18px;
    margin-top: 10px;
}
#task {
    font-size: 24px;
}
#results {
    list-style-image: url('/image/182509_cat_fight_catfight_icon.png');
}
